{% extends "base.html" %}
{% block title %}Установка нового пароля{% endblock %}

{% block content %}
    <div class="jumbotron">
        {% if validlink %}
            <p>Пожалуйста, введите Ваш новый пароль дважды.<br/>
                Таким образом, мы можем проверить вы набрали его правильно.</p>
            <form action="" method="post">
                <div style="display:none">
                    <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
                </div>
                <table>
                    <tr>
                        <td>{{ form.new_password1.errors }}
                            <label for="id_new_password1">Новый пароль:</label></td>
                        <td>{{ form.new_password1 }}</td>
                    </tr>
                    <tr>
                        <td>{{ form.new_password2.errors }}
                            <label for="id_new_password2">Подтвердите пароль:</label></td>
                        <td>{{ form.new_password2 }}</td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" value="Сменить мой пароль"/></td>
                    </tr>
                </table>
            </form>
        {% else %}
            <h1>Неудачное восстановление пароля</h1>
            <p>Ссылка сброса пароля недействительна <br/>
                возможно, потому что уже была использована. <br/>
                         Пожалуйста, запросите новый сброса пароля.</p>
        {% endif %}
    </div>
{% endblock %}