body {
  padding-top: 40px;
  padding-bottom: 40px;
margin: 0;
line-height: 18px;
color: #333333;
background-color: #edeff1;
}

object.hiddenObject
    {
        visibility: hidden;
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 0px;
        max-width: 0px;
        max-height: 0px;
    }
.footer {
color: #666;
background-color: #d5d7d8;
font-size: 11px;
line-height: 1.5em;
text-shadow: 0 1px rgba(255,255,255,0.5);
    height: 60px;
}

.footer .content {
border-top: 5px solid #e1e3e5;
}

.footer .content .branding {
padding: 15px 0 0 0;
margin: 0 auto;
width: 200px;
text-align: center;
}