body {
  padding-top: 40px;
  padding-bottom: 40px;
margin: 0;
line-height: 18px;
color: #333333;
   #background-color: #f8f8f8;
}

object.hiddenObject
    {
        visibility: hidden;
        width: 0px;
        height: 0px;
        margin: 0px;
        padding: 0px;
        border-style: none;
        border-width: 0px;
        max-width: 0px;
        max-height: 0px;
    }
.footer {
font-size: 11px;
line-height: 1.5em;
    height: 60px;
}


.footer .content .branding {
padding: 15px 0 0 0;
margin: 0 auto;
width: 200px;
text-align: center;
}

.jumbotron {
background-color: #f8f8f8;
}