{% extends 'base.html' %}
{% block head %}
    <script language="javascript" src="/static/js/NativeBridge.js"></script>
    <script language="javascript" src="/static/js/cript.js"></script>
{% endblock %}

{% block navbar %}
    {{ block.super }}
{% endblock %}

{% block content %}

    {% if templates %}
        <div class="jumbotron">
            <h2>Опубликованные формы</h2>
            <br>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Название</th>
                        <th>Дата создания</th>
                        <th>Статус</th>
                        <th>Создал</th>
                    </tr>
                </thead>
                <tbody>
                    {% for template in templates %}
                         <tr onclick="location.href='/form/status/{{ template.pk }}'">
                            <th>{{ template.pk }}</th>
                            <td>{{ template.title }}</td>
                            <td>{{ template.cdt }}</td>
                            <td>Хорошо</td>
                            <td>{{ template.creator}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if template %}
        <div class="jumbotron">
            <h2>{{ template.title }}</h2>
            <form method="post"> {% csrf_token %}
                <input type="submit" value="Экспорт в CSV" name="export">
            </form>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Пользователь</th>
                        <th>Статус</th>
                        <th>Утвердил</th>
                    </tr>
                </thead>
                <tbody>
                    {% for record in template.get_records %}
                         <tr {% if record.status != 'W' %} onclick="location.href='/form/record/{{ record.pk }}'{% endif %}">
                            <th>{{ record.user.get_full_name }}</th>
                            <td>{{ record.get_status }}</td>
                            <td>{% if record.approved %}{{ record.approved }}{% else %} - {% endif %}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}

    {% if record %}
        <div class="jumbotron">
            <h2>{{ record.template.title }}</h2>
            <h3>Пользователь: {{ record.user.get_full_name }}</h3>
            <h4>Дата последнего изменения: {{ record.cdt }}</h4>
            <h4>Статус: {{ record.get_status }}</h4>
            <h4 id="sign"></h4>
            {% if record.status == 'O' %}
                <form method="post"> {% csrf_token %}
                        <button type="submit" name="export" class="btn btn-success">Экспортировать в CSV</button>
                        <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#revis" value="Отправить на доработку" >
                        <div class="modal fade bs-example-modal-lg" tabindex="-1" id="revis" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                          <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Комментарий к доработке</h4>
                                </div>
                                <div class="modal-body">
                                      <textarea class="form-control" rows="6" name="comment"></textarea>
                                </div>
                                 <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Отмена</button>
                                    <button type="submit" name="revision" class="btn btn-success">Отправить</button>
                                 </div>
                            </div>
                          </div>
                        </div>

                    <input type="submit" value="Утвердить" name="approve" class="btn btn-success">
                </form>
            {% endif %}

            {% if comments %}
                <input type="button" class="btn btn-primary" data-toggle="modal" data-target="#comment" value="Комментарии" >
                <div class="modal fade bs-example-modal-lg" id="comment" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                  <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Комментарий к доработке</h4>
                        </div>
                        <div class="modal-body">
                              <table class="table table-hover">
                                  <thead>
                                      <tr>
                                         <th>Комментарий</th>
                                         <th>Пользователь</th>
                                         <th>Дата</th>
                                      </tr>
                                  </thead>
                                  {% for comment in comments %}
                                      <tr>
                                        <td>{{ comment.comment }}</td>
                                        <td>{{ comment.user }}</td>
                                        <td>{{ comment.cdt|date }}</td>
                                      </tr>
                                  {% endfor %}
                              </table>
                        </div>
                    </div>
                  </div>
                </div>
            {% endif %}
            <br>
            <br>
            {% if record.template.tableview %}
                <table class="table table-hover">
                    <thead>
                        <tr>
                            {% for field in record.template.fields %}
                                <th>{{ field.title }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for datas in record.data %}
                             <tr>
                                {% for data in datas %}
                                    <td>{{ data.value }}</td>
                                {% endfor %}
                             </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                {% for data in record.data %}
                    <p>{{ data.field.title }}</p>
                    <blockquote>
                         <p> {{ data.value }} </p>
                    </blockquote>
                {% endfor %}
            {% endif %}
        </div>

        <script language="JavaScript">
            CheckForPlugIn()
            $('label[for="id_sign"]').remove();
        </script>

    {% endif %}
{% endblock %}