{% extends 'base.html' %}

{% block head %}
    <script src="http://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script>
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h2>{{ report.title }}</h2>
        <div id="map" style="width:100%; height:600px"></div>
    </div>
    {% for record in records %}
        <input type="hidden" value="{ {{ record.parametrs|safe }} }" id="param{{ forloop.counter }}">
    {% endfor %}
{% endblock %}


{% block js %}
    <script language="JavaScript">
        var myMap;
        ymaps.ready(init);

        function init() {
            myMap = new ymaps.Map('map', {
                zoom: 6,
                center: [53.9945, 115.264],
                type: 'yandex#hybrid',
                controls: ['zoomControl', 'typeSelector', 'fullscreenControl', 'rulerControl']});

            function addpoint(coordinate, dopinf, param) {
                var myGeoObject;
                myGeoObject = new ymaps.Placemark(coordinate, dopinf, param);

                myMap.geoObjects.add(myGeoObject);

            };
            function addpolygon(coordinate1, dopinf1, param1) {
                var myGeoObject1;
                myGeoObject1 = new ymaps.Polygon(coordinate1, dopinf1, param1);

                myMap.geoObjects.add(myGeoObject1);
            };

            function addpolyline(coordinate2, dopinf2, param2) {
                var myGeoObject2;
                myGeoObject2 = new ymaps.Polyline(coordinate2, dopinf2, param2);

                myMap.geoObjects.add(myGeoObject2);
            };
            {% for record in records %}
                if (document.getElementById("param{{ forloop.counter }}")) {
                    eval('var param=' + document.getElementById("param{{ forloop.counter }}").value);
                }
                else{
                    var param = {}
                }
                {% for data in record.data %}
                    {% for coord in data.coords %}
                        switch ('{{ record.type }}') {
                            case 'P':
                                addpoint({{ coord.coord.value }},
                                        {balloonContentBody: "{{ coord.caption.value }}",
                                            balloonContentHeader: "{{ record.title }}",
                                            balloonContentFooter: "{{ data.user }}"},
                                        param);
                                break;
                            case 'Z':
                                addpolygon({{ coord.coord.value }}, {balloonContentBody: "{{ coord.caption.value }}",
                                    balloonContentHeader: "{{ record.title }}",
                                    balloonContentFooter: "{{ data.user }}"}, param);
                                break;
                            case 'L':
                                addpolyline({{ coord.coord.value }}, {balloonContentBody: "{{ coord.caption.value }}",
                                    balloonContentHeader: "{{ record.title }}",
                                    balloonContentFooter: "{{ data.user }}"}, param);
                                break;
                        }
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        }
    </script>
{% endblock %}

{% comment %}   {% for record in records %}
        <p>{{ record.type }}</p>
        <p id="parampam">{{ record.parametrs }}</p>
        <ul>
        {% for data in record.data %}
            <li>{{ data.user }}</li>
            <ul>
                {% for coord in data.coords %}
                    <li>{{ coord.caption.value }} -- {{ coord.coord.value }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    {% endfor %}  {% endcomment %}